.loginWindow {
    font-family: Roboto;
    padding: 10px;
    display: flex;
    background-color:red;
    width: 300px;
    flex-direction: column;
    justify-content: center;
}

.loginButton {
    margin: 5px !important;
    background-color: teal;
}