.contentMainDiv {
    background-color: yellow;
    height: 100%;
    width: 60%;
    position: fixed;
    top: 0px;
    left: 10px;
    align-content: center;
    text-align: center;
    /*margin-left: 239px; /* navigation bar size related */
    margin-right: 20%; /* rank size related */
    margin-top: 100px;
    margin-left: 20%;
    font-family: Roboto;
}

.contentFillerDiv {
    width: 20%;
    background-color: violet;
}