.rankMainDiv {
    background-color: rgba(1, 7, 10, 0.05);
    width: 250px;
    height: 560px;
    position: fixed;
    top: 100px;
    right: 10px;
}

.rankListItem {
    margin: '4px';
    text-align: left;
}